.simulation-params {
    min-width: 350px;
    overflow-y: auto;
    max-height: 98vh;
    scrollbar-width: thin;
}

.simulation-params .note {
    font-size: 0.85rem;
    text-align: center;
    color: #cccccc;
    margin: 5px;
}

.simulation-params .subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 5px;
}

.object-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;

    svg, .delete-button {
        vertical-align: middle;
    }
}

.reset-params {
    font-size: 1rem;
    color-scheme: dark;
    margin: 10px;
}

.delete-button {
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    border-radius: 35%;
    margin: 5px;
    background-color: #c09292;
}

.delete-button:hover {
    background-color: #be7676;
}

.delete-button:active {
    background-color: #bd5757;
}

.add-button {
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;
    border-radius: 35%;
    margin: 5px auto;
    background-color: #cfe2c7;
}

.add-button:hover {
    background-color: #bde0ae;
}

.add-button:active {
    background-color: #a5db8d;
}